body {
  * {
    margin: 0;
    padding: 0;
  }

  background-color: rgb(235, 235, 235);

  h1, h2{
    text-align: center;
    margin-bottom: 10px;
  }
  #courses {
    div {
      background-color: white;
      width: 80%;
      max-width: 600px;
      padding: 5px;
      margin: 10px auto;
      border: 2px black solid;
      *{
        margin: 4px;
      }
    }
  }

  .inputDiv{
    width: 90%;
    max-width: 550px;
    margin: 10px auto;
    *{
      margin: 5px;
    }
    button{
      padding: 5px;
      background-color: lightcyan;
    }
    button:hover{
      background-color: lightblue;
    }
    select{
      margin-bottom: 10px;
    }
  }
}
